*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body>*{
    float: left;
    position: relative; /*per far funzionare la z-index*/
}
a{
    text-decoration: none;
}
h1,h6{
    color: white;
}
span{
    color: grey;
}
/* Header */
header{
    height: 85px;
    width: 100%;
    position: fixed;
    background-color: #080b1270;
    z-index: 1;
}
header a{
    color: white;
    position: absolute;
    top:25%;
    right: 1.5%;
    border: 1px solid white;
    border-radius: 2em;
    padding: .5rem 2rem;
    font-size: small;
}
header a:hover{
    transform: scale(1.1);
}
/* Sidebar */
.sidebar{
    height: 90vh;
    background-color: black;
    z-index: 2;
    padding: 1% 0;
    overflow: hidden;
}
.sidebar *{
    color: gray;
    font-size: small;
}
.sidebar *:hover{
    color: white;
}
.logo{
    width:60%;
    margin-bottom: 15%;
    margin-left: 0.9em;
}
.small-logo{
    width: 50%;
    margin: 0 .72rem;
    margin-bottom: .6rem;
}
.option{
    margin-bottom: .3em;
    padding-left:.9em;
}
.option img{
    width: 19px;
}
.option a{
    position: relative;
    bottom: .3em;
}
.playlists{
    margin-left: 0.9em;
    margin-top: 1em;
}
.add{
    width: 38.4px;
    height: 38.4px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add i{
    color: black;
    font-size: 1.2rem;
}
.create{
    margin: .8rem 0;
}
.create h4{
    line-height: 38.4px;
    margin-left:.5rem ;
}
.create>*{
    float: left;
}
.create:hover .add{
    background-color: white;
}
.create:hover a{
    color: white;
}
.create i:hover{
    color: black;
}
.bottom{
    position: absolute;
    bottom: 0;
    padding-bottom: .3rem;
    width: 90%;
    padding-left: 0.5rem;
    background-color: black;
}
.bottom hr{
    border-color: grey;
}
.playlists>h4{
    color: white;
}
.playlists ul{
    list-style: none;
    line-height: 2;
}
.install img{
    width: 17px;
}
.install span{
    line-height: 1.1vh;
    position: relative;
    bottom: .3rem;
}
.user>*{
    float: left;
    margin-top: .5rem;
}
.user span{
    line-height: 22px;
    margin-left:.5rem;
    color: white;
}
.photo-user{
    height: 22px;
    width: 22px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
.photo-user img{
    width: 21px;
    border-radius: 50%;
}
/* Content */
.content{
    height: 90vh;
    padding-top:12vh;
    padding-left: 1rem;
    background-color: #141922;
    overflow-y: scroll;
}
.content ul{
    list-style: none;
    color: grey;
    font-size: x-small;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 65%; */
    margin: 1.5vh auto;
}
.content li{
    display: inline;
    padding-bottom: .8rem;
}
.content a:hover{
    color: white;
}
.nav-bar a{
    color: grey;
}
.shortline{
    height: 0.1rem;
    background-color: #adff2f;
    width: 40%;
    margin: auto;
    margin-top: 0.1rem;
}
.items{
    margin: 4vh 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}
.item{
    width: calc(70vw / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.photo{
    position: relative;
    width: 100%;
}
.effect{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: center;
    align-items:center;
    font-size: 8vh;
    display: none;
}
.item:hover .effect{
    display: flex;
}
.item img{
    width: 100%;
}
.item h6{
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.content span{
    font-size: x-small;
}
#Artist img{
    border-radius: 50%;
}
.content h1{
    font-size: medium;
}
.content::-webkit-scrollbar{
    width: .6vw;
}
.content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
.content::-webkit-scrollbar-thumb {
    background-color: rgb(54, 54, 54) ;
    border-radius: 1rem;
}
/* bottom bar */
.bott-bar{
    width: 100%;
    height: 71.35px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    overflow-y: hidden;
}
.song{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey;
}
.song a:hover, .song i:hover {
    color: white;
}
.song a:hover{
    text-decoration: underline;
}
.song-des{
    line-height: .7;
}
.song h6{
    color: white;
}
.song a{
    font-size: x-small;
    text-decoration: none;
    color: gray;
}
.song img{
    width:18%;
}
.icons{
    display: flex;
    gap: 1vw;
}
.mid{
    width: 40vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mid *{
    display: flex;
    justify-content: center;
    margin: auto;
}
.controls{
    width: 35%;
}
.play{
    font-size: x-large;
}
.play:hover{
    transform: scale(1.2);
}
.timeline{
    font-size: x-small;
    font-weight: bold;
    width: 40vw;
}
.line{
    width: 85%;
    height: 3px;
    background-color: grey;
    border-radius: 1rem;
    position: relative;
    align-items: center;
}
.load{
    width: 20%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgb(224, 213, 213);
    position: absolute;
    left: 0;
}
.ball{
    height: 10px;
    width: 10px;
    margin-left: 19%;
    background-color: white;
    position: relative;
    bottom: 3px;
    border-radius:50% ;
    display: none;
}
.line:hover .load{
    background-color: #bdf864;
}
.line:hover .ball{
    display: inline-block;
}
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-small;
}
.options .line{
    width: 50%;
}