*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body>*{
    float: left;
    position: relative; /*per far funzionare la z-index*/
}
a{
    text-decoration: none;
}
/* Header */
header{
    height: 12vh;
    width: 100%;
    position: fixed;
    background-color: #080b1270;
    z-index: 1;
}
header a{
    color: white;
    position: absolute;
    top:25%;
    right: 1.5%;
    border: 1px solid white;
    border-radius: 2em;
    padding: .5rem 2rem;
    font-size: small;
}
/* Sidebar */
.sidebar{
    height: 90vh;
    width: 12%;
    background-color: black;
    z-index: 2;
    padding: 1% 0;
}
.sidebar *{
    color: gray;
    font-size: small;
}
.logo{
    width:60%;
    margin-bottom: 15%;
    margin-left: 0.9em;
}
.option{
    margin-bottom: .3em;
    padding-left:.9em;
}
.option:hover{
    border-left: 2px solid #adff2f;
    padding-left:.75em;
}
.option img{
    width: 11%;
}
.option a{
    position: relative;
    bottom: .3em;
}
.playlists{
    margin-left: 0.9em;
    margin-top: 1em;
}
.add{
    width: 2.5VW;
    height: 2.5vw;
    background-color: grey;
    text-align: center;
    line-height: 3vw;
    display: inline-block;
}
.add i{
    color: black;
    width: 50%;
    font-size: x-large;
}
.create{
    margin: .8rem 0;
}
.create h4{
    line-height: 2.5vw;
    margin-left:.5rem ;
}
.create>*{
    float: left;
}
.bottom{
    position: absolute;
    bottom: .3rem;
    width: 90%;
    padding-left: 0.5rem;
}
.bottom hr{
    border-color: grey;
}
.playlists>h4{
    color: white;
}
.playlists ul{
    list-style: none;
    line-height: 2;
}
.install img{
    width: 1.1vw;
}
.install span{
    line-height: 1.1vh;
    position: relative;
    bottom: .3rem;
}
.user>*{
    float: left;
    margin-top: .5rem;
}
.user span{
    line-height: 3vh;
    margin-left:.5rem ;
    color: white;
}
.photo-user{
    height: 1.5vw;
    width: 1.5vw;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
.photo-user img{
    height: 1.6vw;
    border-radius: 50%;
}
/* Content */
.content{
    height: 90vh;
    width: 88%;
    background-color: #141922;
}
/* bottom bar */
.bott-bar{
    width: 100%;
    height: 10vh;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.song{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey;
    width: 13vw;
}
.song-des{
    width: 6vw;
    line-height: .7;
}
.song h6{
    color: white;
}
.song span{
    font-size: x-small;
}
.song img{
    width:18%;
}
.song i{
    height: 100%;
}
.mid{
    width: 40vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mid *{
    display: flex;
    justify-content: center;
    margin: auto;
}
.controls{
    width: 35%;
}
.play{
    font-size: x-large;
}
.timeline{
    font-size: x-small;
    font-weight: bold;
    width: 40vw;
}
.line{
    width: 85%;
    height: 3px;
    background-color: grey;
    border-radius: 1rem;
    position: relative;
}
.load{
    width: 20%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgb(224, 213, 213);
    position: absolute;
    left: 0;
}
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 14vw;
    font-size: x-small;
}
.options .line{
    width: 50%;
}